<!DOCTYPE html  xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/assembly.css">

</head>
<body>
<div id="app" style="width: 1024px; margin: auto;">
    <el-container>
        <el-main>
            <div class="head-style font-style">
                OligoOptimizer
            </div>

            <div class="menu-style">
                <el-menu default-active="second" class="el-menu-demo" mode="horizontal"
                         background-color="#545c64"
                         text-color="#fff"
                         @select="handleSelect"
                         active-text-color="#ffd04b">

                    <el-menu-item index="first" class="menu-item">
                        <a href="/introduction" target="_self">introduction</a>
                    </el-menu-item>

                    <el-menu-item index="second" class="menu-item">
                        <a href="/assembly" target="_self">home</a>
                    </el-menu-item>

                    <el-menu-item index="third" class="menu-item">
                        <a href="/doc" target="_self">doc</a>
                    </el-menu-item>


                </el-menu>
            </div>

            <el-container>
                <div id="show" class="main-height main-style"
                     style="background-color: white;">

                    <el-tabs type="border-card" style="border: 0"
                             v-model="activeName"
                             ref="tabs">

                        <el-tab-pane label="input" name="input" v-loading="loading">

                            <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="120px">
                                <div style="text-align:right;">
                                    <el-button
                                            size="mini"
                                            @click="testDemo()"
                                            type="primary">
                                        demo
                                    </el-button>
                                </div>

                                <h3 style="margin-top: 0px;">Email Address</h3>
                                <el-form-item
                                        size="small"
                                        prop="email"
                                        label="email"
                                        :rules="[{ required: true, message: 'Please enter email address', trigger: 'blur' },
                                                 { type: 'email', message: 'Please enter the correct email address', trigger: 'blur,change' }]"
                                >
                                    <el-input
                                            size="small"
                                            clearable
                                            v-model="dynamicValidateForm.email"
                                            class="input_style"></el-input>
                                    Required.

                                </el-form-item>

                                <h3>Gene Information</h3>
                                <el-form-item
                                        size="small"
                                        label="name">
                                    <el-input class="input_style"
                                              size="small"
                                              clearable
                                              placement="top"
                                              v-model="dynamicValidateForm.geneName"
                                    ></el-input>
                                    Optional.
                                </el-form-item>

                                <el-form-item label="description Optional">
                                    <el-input
                                            clearable
                                            type="textarea" rows="4"
                                            v-model="dynamicValidateForm.geneDesc"
                                    >
                                    </el-input>
                                </el-form-item>


                                <el-form-item prop="gene" style="margin-bottom: 5px !important;" label="DNA seq"
                                              required>
                                    <el-input type="textarea" rows="7"
                                              @input="calGeneLength"
                                              v-model="dynamicValidateForm.gene"
                                    ></el-input>
                                </el-form-item>

                                <el-form-item prop="geneLen" style="height: 30px; margin-top: -5px">
                                    <el-col :span="8" style="margin-left: 322px;">
                                        <span style="float: right; height: 30px; line-height: 30px">
                                            length: {[ dynamicValidateForm.geneLen ]}</span>
                                    </el-col>
                                </el-form-item>

                                <h3>
                                    Parameters For Gene Synthesis
                                </h3>
                                <div id="table" style="margin-left: 120px;">

                                    <el-table
                                            :data="dynamicValidateForm.tableData"
                                            border
                                            stripe
                                            size="small"
                                            style="width: 60%"
                                            :cell-style="{'padding':'0px'}"
                                            :header-cell-style="{'padding':'8px'}"
                                    >
                                        <el-table-column
                                                prop="ion"
                                                label="ion"
                                                style="height: 26px!important; ">
                                            <template slot-scope="scope">
                                                <p v-html="scope.row.ion"
                                                   style="margin: 0px; height: 26px!important;"></p>
                                            </template>
                                        </el-table-column>

                                        <el-table-column
                                                prop="concentration"
                                                label="concentration">
                                            <template slot-scope="scope">
                                                <el-form-item
                                                        :prop="'tableData.' + scope.$index + '.name'"
                                                        style="margin: 1px"
                                                >
                                                    <el-input class="input_number"
                                                              size="small"
                                                              style="margin-left: -110px;"
                                                              type='number'
                                                              v-model.number="scope.row.data">
                                                    </el-input>
                                                    {[ scope.row.unit ]}

                                                </el-form-item>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>

                                <h3>Overlap Length</h3>
                                <el-form-item size="small">
                                    <el-col :span="8">
                                        <el-form-item prop="minLen" label="min:"
                                                      class="el-form-item_line"
                                                      required>
                                            <el-input class="input_number"
                                                      size="small"
                                                      type='number'
                                                      v-model.number="dynamicValidateForm.minLen"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="8">
                                        <el-form-item prop="maxLen" label="max:"
                                                      class="el-form-item_line"
                                                      required>
                                            <el-input class="input_number"
                                                      size="small"
                                                      type='number'
                                                      v-model.number="dynamicValidateForm.maxLen"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>

                                <h3>Result Type</h3>
                                <el-form-item prop="resultType">
                                    <el-radio v-model="dynamicValidateForm.resultType" label="Gapless">
                                        Gapless
                                    </el-radio>
                                    <el-radio v-model="dynamicValidateForm.resultType" label="Gap">Gap
                                    </el-radio>
                                </el-form-item>

                                <h3>Long DNA Assembly(optional)</h3>
                                <div style="margin-left: 100px">
                                    <h4 style="margin-bottom: 15px;">Sequence will be partitioned into #of pools</h4>

                                    <el-form-item label="#of pools:" style="margin-left: -17px" prop="pools"
                                                  size="small"
                                                  required>
                                        <el-input class="input_number"
                                                  size="small"
                                                  type='number'
                                                  v-model.number="dynamicValidateForm.pools"></el-input>
                                    </el-form-item>

                                </div>

                                <h3>Is Verification Required</h3>
                                <el-form-item prop="verification">
                                    <el-radio style="width: 76px" v-model="dynamicValidateForm.verification "
                                              label="No">No
                                    </el-radio>
                                    <el-radio v-model="dynamicValidateForm.verification " label="Yes">Yes
                                    </el-radio>
                                </el-form-item>

                                <div v-if="dynamicValidateForm.verification == 'Yes'">
                                    <el-form-item
                                            size="small"
                                            style="margin-left: 0px; ">

                                            <el-form-item prop="temperature"
                                                          label="temperature:"
                                                          class="el-form-item_line"
                                                          required>
                                                <el-input class="input_number"
                                                          size="small"
                                                          type='number'
                                                          v-model.number="dynamicValidateForm.temperature"></el-input>
                                                &#8451;
                                            </el-form-item>
                                        <br>

                                            <el-form-item prop="oligoConc" label="oligo_conc:"
                                                          class="el-form-item_line"
                                                          required>
                                                <el-input class="input_number"
                                                          size="small"
                                                          type='number'
                                                          v-model.number="dynamicValidateForm.oligoConc"></el-input>
                                                nM
                                            </el-form-item>
                                            <br>

                                            <el-form-item prop="primerConc" label="primer_conc:"
                                                          class="el-form-item_line"
                                                          required>
                                                <el-input class="input_number"
                                                          size="small"
                                                          type='number'
                                                          v-model.number="dynamicValidateForm.primerConc"></el-input>
                                                nM
                                            </el-form-item>
                                    </el-form-item>
                                </div>

                                <el-form-item style="margin-top: 30px;">
                                    <el-button style="margin-right: 70px; margin-left: 120px;" type="primary"
                                               size="mini"
                                               @click="submitForm(dynamicValidateForm)">submit
                                    </el-button>
                                    <el-button type="danger"
                                               size="mini"
                                               @click="resetForm('dynamicValidateForm')">default
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>

                        {#output1#}
                        <el-tab-pane v-if="output1" label="result" name="output1">
                            <h3>result</h3>

                            <div v-for="(item_i, i) in arr">
                                {#result#}
                                <el-divider content-position="left">
                                    pool:
                                    <span>{[ i+1 ]}</span>
                                </el-divider>
                                <el-table :data="item_i.info" border
                                          :row-style="{height:'26px'}"
                                          :cell-style="{padding:3+'px'}"
                                          v-if="showTable"
                                          stripe
                                          :header-cell-style="{padding:3+'px', fontSize:'14px', align:'center'}">
                                    <el-table-column v-for='(item_j,j) in dataColumn'
                                                     :key="j"
                                                     :label="item_j.name"
                                                     :width="item_j.width"
                                                     :cell-style="{padding:3+'px'}"
                                                     show-overflow-tooltip>
                                        <template slot-scope="scope">
                                            <span v-html="scope.row[j]"></span>
                                        </template>
                                    </el-table-column>
                                </el-table>

                                <div style="padding-top: 30px">
                                    <el-table :data="item_i.resInfo"
                                              :cell-style="{padding:3+'px'}"
                                              :row-style="{height:'26px'}"
                                              v-if="showTable"
                                              border
                                              stripe
                                              :header-cell-style="{padding:3+'px', fontSize:'14px'}">

                                        <el-table-column :cell-style="{padding:3+'px'}"
                                                {#prop="key"#}
                                                         align="center"
                                                         label="key"
                                                         show-overflow-tooltip>
                                            <template slot-scope="scope">
                                                {[ scope.row.key ]}
                                            </template>
                                        </el-table-column>

                                        <el-table-column :cell-style="{padding:3+'px'}"
                                                {#prop="value"#}
                                                         align="center"
                                                         label="value"
                                                         show-overflow-tooltip>
                                            <template slot-scope="scope">
                                                {[ scope.row.value ]}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>

                                <div v-if="item_i.analyInfo">

                                    <h3>Verification information</h3>
                                    <div v-if="item_i.analyInfo.length > 0">

                                        <el-table :data="item_i.analyInfo"
                                                  :cell-style="{padding:3+'px'}"
                                                  :row-style="{height:'26px'}"
                                                  border
                                                  v-if="showTable"
                                                  stripe
                                                  :header-cell-style="{padding:3+'px', fontSize:'14px'}">

                                            <el-table-column :cell-style="{padding:3+'px'}"
                                                    {#prop="key"#}
                                                             align="center"
                                                             label="key"
                                                             show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    {[ scope.row.key ]}
                                                </template>
                                            </el-table-column>

                                            <el-table-column :cell-style="{padding:3+'px'}"
                                                    {#prop="value"#}
                                                             align="center"
                                                             label="value"
                                                             show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    {[ scope.row.value ]}
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                    <div v-else>
                                        <p>null</p>
                                    </div>

                                </div>

                                <div
                                        style="margin-left: 100px; margin-top: 40px;"
                                        v-if="dynamicValidateForm.pools > 1
                                        && dynamicValidateForm.verification == 'Yes'
                                        && item_i.analyInfo == null"
                                        v-loading="verificationLoading"
                                >
                                    <el-form>
                                        <el-form-item
                                                size="small"
                                                style="margin-left: 0px; ">
                                            <el-col :span="8">
                                                <el-form-item
                                                        label="temperature:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.temperature"></el-input>
                                                    &#8451;
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="8">
                                                <el-form-item
                                                        label="oligoConc:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.oligoConc"></el-input>
                                                    nM
                                                </el-form-item>
                                            </el-col>

                                               <el-col :span="8">
                                                <el-form-item
                                                        label="primerConc:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.primerConc"></el-input>
                                                    nM
                                                </el-form-item>
                                            </el-col>


                                        </el-form-item>


                                        <el-button type="primary"
                                                   size="mini"
                                                   style="margin-left: 235px"
                                                   @click="validation(i, item_i.nextCal, item_i.temperature, item_i.oligoConc, item_i.primerConc, 'res1')">

                                            Validation
                                        </el-button>
                                    </el-form>

                                </div>
                            </div>


                            <div style="padding: 30px" v-loading="another_res">
                                <el-button
                                        style="margin-right: 70px; margin-left: 120px; "
                                        type="primary"
                                        size="mini"
                                        @click="anotherResult(dynamicValidateForm)">another result
                                </el-button>
                                <el-button
                                        style="margin-right: 70px; margin-left: 50px; "
                                        type="primary"
                                        size="mini"
                                        @click="refreshTable()">Refresh table
                                </el-button>
                                <el-button
                                        style="margin-right: 70px; margin-left: 50px; "
                                        type="primary"
                                        size="mini"
                                        @click="download('res1')">download
                                </el-button>
                            </div>

                        </el-tab-pane>

                        {#output2#}
                        <el-tab-pane v-if="output2" label="result" name="output2">
                            <h3>result</h3>

                            <div v-for="(item_i, i) in anotherArr">
                                <el-divider content-position="left">
                                    pool:
                                    <span>{[ i+1 ]}</span>
                                </el-divider>
                                <el-table :data="item_i.info" border
                                          :row-style="{height:'26px'}"
                                          :cell-style="{padding:3+'px'}"
                                          v-if="showTable"
                                          stripe
                                          :header-cell-style="{padding:3+'px', fontSize:'14px', align:'center'}">
                                    <el-table-column v-for='(item_j,j) in dataColumn'
                                                     :key="j" :label="item_j.name"
                                                     :width="item_j.width"
                                                     :cell-style="{padding:3+'px'}"
                                                     show-overflow-tooltip>
                                        <template slot-scope="scope">

                                            <span v-html="scope.row[j]"></span>

                                        </template>
                                    </el-table-column>
                                </el-table>

                                <div style="padding-top: 30px">
                                    <el-table :data="item_i.resInfo"
                                              :cell-style="{padding:3+'px'}"
                                              :row-style="{height:'26px'}"
                                              v-if="showTable"
                                              border
                                              stripe
                                              :header-cell-style="{padding:3+'px', fontSize:'14px'}">

                                        <el-table-column :cell-style="{padding:3+'px'}"
                                                {#prop="key"#}
                                                         align="center"
                                                         label="key"
                                                         show-overflow-tooltip>
                                            <template slot-scope="scope">
                                                {[ scope.row.key ]}
                                            </template>
                                        </el-table-column>

                                        <el-table-column :cell-style="{padding:3+'px'}"
                                                {#prop="value"#}
                                                         align="center"
                                                         label="value"
                                                         show-overflow-tooltip>
                                            <template slot-scope="scope">
                                                {[ scope.row.value ]}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>

                                <div v-if="item_i.analyInfo">
                                    <h3>Verification information</h3>
                                    <div v-if="item_i.analyInfo.length > 0">
                                        <el-table :data="item_i.analyInfo"
                                                  :cell-style="{padding:3+'px'}"
                                                  :row-style="{height:'26px'}"
                                                  border
                                                  v-if="showTable"
                                                  stripe
                                                  :header-cell-style="{padding:3+'px', fontSize:'14px'}">

                                            <el-table-column :cell-style="{padding:3+'px'}"
                                                    {#prop="key"#}
                                                             align="center"
                                                             label="key"
                                                             show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    {[ scope.row.key ]}
                                                </template>
                                            </el-table-column>

                                            <el-table-column :cell-style="{padding:3+'px'}"
                                                    {#prop="value"#}
                                                             align="center"
                                                             label="value"
                                                             show-overflow-tooltip>
                                                <template slot-scope="scope">
                                                    {[ scope.row.value ]}
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                    <div v-else>
                                        <p>null</p>
                                    </div>

                                </div>

                                <div
                                        style="margin-left: 100px; margin-top: 40px;"
                                        v-if="dynamicValidateForm.pools > 1
                                        && dynamicValidateForm.verification == 'Yes'
                                        && item_i.analyInfo == null"
                                        v-loading="verificationLoading">
                                    <el-form>

                                        <el-form-item
                                                size="small"
                                                style="margin-left: 0px; ">
                                            <el-col :span="8">
                                                <el-form-item
                                                        label="temperature:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.temperature"></el-input>
                                                    &#8451;
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="8">
                                                <el-form-item
                                                        label="oligoConc:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.oligoConc"></el-input>
                                                    nM
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-form-item
                                                        label="primerConc:"
                                                        class="el-form-item_line"
                                                        required>
                                                    <el-input class="input_number"
                                                              size="small"
                                                              type='number'
                                                              v-model.number="item_i.primerConc"></el-input>
                                                    nM
                                                </el-form-item>
                                            </el-col>
                                        </el-form-item>

                                        <el-button type="primary"
                                                   size="mini"
                                                   style="margin-left: 235px"
                                                   @click="validation(i, item_i.nextCal, item_i.temperature, item_i.oligoConc, item_i.primerConc, 'res2')">

                                            Validation
                                        </el-button>
                                    </el-form>

                                </div>
                            </div>


                            <div style="padding: 30px">
                                <el-button
                                        style="margin-right: 70px; margin-left: 120px; "
                                        type="primary"
                                        size="mini"
                                        @click="lastResult()">Previous result
                                </el-button>
                                <el-button
                                        style="margin-right: 70px; margin-left: 50px; "
                                        type="primary"
                                        size="mini"
                                        @click="refreshTable()">Refresh table
                                </el-button>

                                <el-button
                                        style="margin-right: 70px; margin-left: 50px; "
                                        type="primary"
                                        size="mini"
                                        @click="download('res2')">download
                                </el-button>
                            </div>

                        </el-tab-pane>

                    </el-tabs>

                </div>
            </el-container>

            {#<div class="footer-style footer-font">#}
            {#    Copyright © 2020 - 2021 Caltech. All rights reserved. <a href="mailto:jacka03@163.com">suggestion</a>#}
            {#</div>#}

        </el-main>
    </el-container>

</div>

</body>

<script src="../static/js/vue.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/element-ui/lib/index.js"></script>

<script src="../static/js/assembly.js"></script>

</html>